body
{
	font-family: arial, helvetica, freesans, sans-serif;
	font-size: 75%;
	color: #333;
	background-color: #ddd;
    padding: 0;
    margin: 0;
}

h1
{
    font-size: 1.5em;
	font-weight: normal;
	margin: 0;
    padding: 0;
}

p.bubble
{
	position: relative;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin: 60px auto;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

p.bubble:before, p.bubble:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech:before
{
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

p.speech:after
{
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

.image-location{
  position: absolute;
  margin-left: 15%;
  margin-top: 10%;
}

img {
    border-radius: 10px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
//   width: 600px;
    height: 175px;
    margin-left: 25%
    align-items:center;
    width: 800px;
}

.flex-item {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.flex-container2 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction:column;
  flex-direction: column;
  max-width: 100%;
  margin-left: 22%
  height:auto;
  align-items: center
}

.flex-item2 {
    text-align: left;
    background-color: white;
}

.flex-container3 {
    display: -webkit-flex;
    display: flex;
    height: 200px;
    margin-left: 20%;
    align-items: center;
    width: 500px;

}

.flex-item3 {
    width: 200px;
    height: 150px;
    margin: 25px;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
     text-align: left;
}

#space-background {
    background-image: url("images/space.png");
    width: 800px;
    height: 400px;
}

#text-format{
        text-align: center;
        color: white;
}

#black-background{
    background-color: black;
}


.align{
    border-radius: 0px;
}
